#settings {
    position: fixed;
    top: 59px;
    background-color: #FCFCFC;
    padding: 5px;
    z-index: 11111;
    right: 63px;
    box-shadow: 2px 2px 4px #AAA;
}
#about {
    position: fixed;
    top: 59px;
    background-color: #FCFCFC;
    padding: 5px;
    z-index: 11111;
    right: 9px;
    box-shadow: 2px 2px 4px #AAA;
}
#permalink {
    position: fixed;
    background-color: #FCFCFC;
    padding: 5px;
    z-index: 11111;
    box-shadow: 2px 2px 4px #AAA;
}


.search-btn {
    margin-left: 5px;
}

tr .category_box_row {
    height: 26px;
}

#header_brand {
    float: left;
}
#header_right {
    float: right;
}


#header {
    padding-bottom: 5px;
    overflow: auto;
}
#main {
    clear: both;
}

.advanced-img, .permalink-img, .about-img {
    padding: 5px;
}

.add-td {
    vertical-align: middle;
}

#simplemodal-overlay {background-color:#DDD; }
#simplemodal-container {background-color:#FFF; border:2px solid #000; padding:12px;}
#simplemodal-wrap {overflow: scroll;}
