@fonts: 'Open Sans', sans-serif;

.rounded-corners (@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

#header_brand h1{
    font-family: @fonts;
    font-size: 26px;
    color: #2976a7;
    line-height: 32px;
    cursor: default;
    letter-spacing: 0em;
    display: block;
}

#header_brand h1 a {
    text-decoration: none;
    color: #000000;
}

h3, h4 {
    font-family: @fonts;

}

#chart-wrapper {
    text-align: center;
}

#chart {
    width: 90%;
}

#search_error {
    font-family: @fonts;
    font-size: 13px;
    color: red;
}

#social {
    float: right;
}

#social table {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-size: 100%;
}


span.addquery {
    top: 2px;
    height: 15px;
    position: relative;
}

span.addquery i {
    color: #21610B;
}

span.removequery {
    top: 2px;
    height: 15px;
    position: relative;
}

span.removequery i {
    color: #DF0101;
}

span.tooltip_top {
    font-weight: bold;
}

.pagination {
    margin-top: 2px;
}

.pagination a {
    margin-right: 0;
}

#books {
    width: 70%;
    margin-left: -35%;
}

.book-list {
    font-family: @fonts;
    font-size: 12px;
}

.book-title {
    font-weight: bold;
}

// query rows
.tbl-text {
    vertical-align: middle;
    margin: 0px 5px;
}

// metadata boxes
input.term {
    margin-bottom: 0px;
    height: 16px;
    width: 150px;
}

.category_box_template {
    display: none;
}

.box a,p{
    font-family: @fonts;
    font-size: 13px;
    text-decoration: none;
    margin-right: 0px;
}
.box p{
    margin: 2px 0px;
}

.category_box a{
    color: #000000;
}


.box td{
    padding: 1px 3px;
    margin: 0 auto;
    vertical-align: middle;
    background-color: #EEEEEE;
}
.box table{
    border-spacing: 1px;
}


.box .category_box_data {
    padding: 1px 8px;
}

.box .category_box_x {
    padding: 1px 4px;
    line-height: 18px;
}
.box .category_box_row td:first-child {
    .rounded-corners(3px 0px 0px 3px);
}
.box .category_box_row td:last-child {
    border-radius: 0px 3px 3px 0px;
    .rounded-corners(0px 3px 3px 0px);
}

.box .box_edit{
    padding: 0px 3px;
    line-height: 18px;
}

.box_x, .box_plus {
    padding-left: 3px;
    padding-right: 3px;
}

.edit-box .subtitle {
    float:right;
    padding-top: 5px;
    padding-right: 10px;
}

.edit-box table {
    clear: both;
}

.subtitle {
    font-family: @fonts;
    font-size: 100%;
    cursor: default;
    margin-top: 5px;
    color: #999999;
    vertical-align: baseline;
    letter-spacing: 0em;
}

.subtitle a {
    color: #2976a7;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-decoration: none;
}

.box_x:hover {
    text-decoration: underline;
}

.box_plus:hover {
    text-decoration: underline;
}

.box_data:hover {
    text-decoration: underline;
}


// layout
#chart {
    height:80%;
    width:100%;
}

#chart_wrapper {
    height:90%;
}

#queries {
    height: 100%;

}
#container {
    height:90%;
    width:95%;
    position:absolute;
}


#settings table label {
    font-family: @fonts;
}

#smoothing-slider, #year-slider {
    margin-left: 5px;
}

#smoothing-val, #time-val {
    vertical-align: middle;
    position: relative;
    margin: 0;
    left: 10px;
}


#settings > table {
    padding: 0px 10px;
}



// edit boxes
.edit-box {
    position: fixed;
    background-color: #FCFCFC;
    box-shadow: 2px 2px 4px #AAA;
    //width: 550px;
    //height: 300px;
}

.edit-box table {
    padding: 10px;
}

.edit-box-label {
    font-family: @fonts;
    font-size: 13px;
    width: 100px;
    padding-right: 5px;
}
.edit-box-select {
    margin-left: 5px;
}

li {
    font-family: @fonts;
}

input[type='text'] {
    height: 27px;
}

.loading{
    background: url(../images/ajax-loader.gif) no-repeat center center;
}
#chart_message td{
    text-align: right;
}
